@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  --background: #251D3A;
  --bglight: #371B58;
  --text: #E04D01;
  --headFont: 'Roboto Mono', monospace;
  --textfont: 'Open Sans', sans-serif;
  --textdull: rgba(255, 255, 255, 0.78);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

img {
  width: 100%;
}

.clickable {
  cursor: pointer;
}